/*  Possible APP colors
#DE0202
#0418B0
#4F63F7
#B0B8F7
pair
#FF6B21
#21B5FF
endpair
*/

/*MAIN PAGE HTML STARTS HERE*/

html{
	padding: 0;
	margin: 0;
}

#body1{
	background-color: #f5f5f5; /*#45473b;*/
	padding: 0;
	margin: 0;

}


.border1 {
	border: .07em solid black;
	border-radius: .5em;

}


.text1 {
	text-shadow: none;
	font-weight: bold;
	color: #000000;
	font-family: 'Open Sans','sans-serif';
}

.color1 {
	background-color: #FF6B21;
}

.background1 {
	background: #FF6B21 no-repeat center;
}

.button1
{
	height: 3.5em;
	width: 3.5em;
	padding: 0 0 0 0;
	margin-right: 0;

}

.topButton{
	height: 3.5em;
	width: 3.5em;
	display: inline-block;
	position: absolute;
	top: 0;
}

#profile {
	left: 0;
}

#options{
	margin-right: 0;
	right: 0;
}

#title {
	display: block;
	top: 0;
	margin: 0 auto;
	width: 65%;
	height: 1.6em;
	padding-top: 0;
	border-radius: .25em;
	text-align: center;
	font-size:125%;
	/*	background-color: #FFDE5C; */
	/*	font-weight: bold;
        color: #5656E8;
        text-shadow: .1em .1em .1em  #1C1CBD;
        font-family: sans-serif; */
	line-height: 1.6em;
}

#stats {
	margin-right: 0;
	right: 0;
	top: 4.5em;
}

.par1	{
	/*	color: #5656E8; */
	/*	text-shadow: .07em .07em .05em  black; /*#1C1CBD;*/
	/*	font-weight: bold; */
	font-size: 90%;
	padding-top: .5em;
	margin-top: 1.5em;
}

#bigbox {
	/*	border-radius: .5em;
        box-shadow: .1em .1em .05em black; */
	height: 16em;
	width: 16em;
	display: block;
	margin: 0 auto;
	padding-top: 0;
	cursor: pointer;
	background-image: url(./Resources/Play3.png);
	background-size: 16em 16em;

}


.button2 {
	display: inline-block;
	height: 3.5em;
	width: 9em;
	/*	border-radius: .5em;
        box-shadow: .1em .1em .05em black; */
	padding: .02em;
	margin-right: 0;
	margin-top: 1em;
}

#notifications{
	display: inline-block;
	margin: 1em 0 1em auto;
	float: right;
	background-image: url(./Resources/notifications.png);
	background-size: 7em 3em;
}

#notifications1 {
	display: block;
	height: 3.2em;
	width: 5.5em;
	margin:0 auto;
	border: none;
}

#tourney1 {
	cursor: pointer;
	background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR0W2DkFDpU9uOAjVjHctEkb1aIlLJLQfRXg56qjC7tA91xhgDU);
	background-size: 7em 3em;
}





/*MAIN PAGE HTML ENDS HERE*/
/*TODO CHANGE OF PAGE
/*PLAY LOOP HTML STARTS HERE*/





#beerpongpic {
	height: 12em;
	width: 12em;
	display: block;
	margin:  auto;
	border: none;
	padding-top: 1em;
}

#cornholepic {
	height: 12em;
	width: 12em;
	display: block;
	margin:  auto;
	border: none;
	padding-top: 1em;
}




#gameChoicePong{
	margin-left: 25%;
	margin-right: auto;
	width: 7em;
	height: 7em;
	background-image: url(./Resources/pong2.jpg);
	background-size: 7em 5em;
	/*background-image: url(pong2.jpg);*/
}

#gameChoiceHole{
	margin-left: 25%;
	margin-right: auto;
	width: 7em;
	height: 7em;
	background-image: url(http://zieglerworld.com/images/cornhole-bags.jpg);
	background-size: 7em 7em;
	/*background-image: url(pong2.jpg);*/
}

#onePlay {
	margin-left: 25%;
	margin-right: auto;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	background-size: 100%;
	background-image: url(https://lh3.googleusercontent.com/-QILYa8CR_2Q/AAAAAAAAAAI/AAAAAAAAAAA/M5Hvpbxp-4g/photo.jpg);
}

#twoPlay{
	margin-left: 25%;
	margin-right: auto;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	background-size: 100%;
	background-image: url(./Resources/twoplayer.png);
}

.diagHeader{
	height: 2em;
	padding-top: 0;
	margin-left: 0;
	width: 100%;
	text-align: center;
	padding-left: 0;
	border-bottom: .1em solid black;
	border-radius: 0;
	box-shadow: none;
}

#diagHeadLarge {
	height: 4em;
}

.dialogCont {
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	/*   background-color: #45473b;*/
}

#gameChoicePongDiag{
	margin-left: 25%;
	margin-right: auto;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	background-size: 100%;
	background-image: url(./Resources/pong2.jpg);
}

.middle {
	position: relative;
	top: 10%;
	transform: translateY(-50%);
	border: none;
	font-size: 80%
}

#gameChoiceHoleDiag {
	margin-left: 25%;
	margin-right: auto;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	background-size: 100%;
	background-image: url(http://zieglerworld.com/images/cornhole-bags.jpg);
}

#nextButton {
	height: 5em;
	width: 30%;
	margin-left: 35%;
	margin-right: auto;
	background-size: 100%;
	background-image: url(./Resources/next.ico);
}


.diagButton {
	margin-left: 25%;
	margin-right: auto;
	width: 50%;
	height: 0;
	padding-bottom: 50%;


}

#newUser {
	height: 5em;
	width: 30%;
	margin-left: 35%;
	margin-right: auto;
	background-size: 100%;
	background-image: url(https://lh3.googleusercontent.com/-QILYa8CR_2Q/AAAAAAAAAAI/AAAAAAAAAAA/M5Hvpbxp-4g/photo.jpg);
}

#passwordcheck {
	display: none;
	color: #ff0000;
}

.diagButton1 {
	height: 5em;
	width: 30%;

	margin-right: auto;
}

#rematchButton {
	background-size: 100%;
	margin-left: 35%;
	background-image: url(./Resources/reload.jpg);
}

#newGameButton {
	margin-left: 35%;
	background-size: 100%;
	background-image: url(./Resources/Play3.png);
}

.gender{
	display:block;
	width: auto;
	margin-left: 1em;

}

#genderT{
	width: 100%;
}

#nextButton1 {
	height: 5em;
	width: 30%;
	margin-left: 10%;
	margin-right: auto;
	background-size: 100%;
	background-image: url(./Resources/next.ico);
	display: inline-block;
}

#backButton1 {
	height: 5em;
	width: 30%;
	margin-left: 12.5%;
	margin-right: auto;
	background-size: 100%;
	background-image: url(./Resources/back.jpg);
	display: inline-block;
}


#backButton {
	height: 5em;
	width: 30%;
	margin-left: 35%;
	margin-right: auto;

	background-size: 100%;

	background-image: url(./Resources/back.jpg);

}

#backButton2 {
	height: 5em;
	width: 30%;

	background-size: 100%;

	background-image: url(./Resources/back.jpg);

}



#emailTeam{
	width:100%;
	margin-left: 0;
	margin-right: auto;
	display: inline-block;
}

.emailEnt{
	width:65%;
	margin-left: 0;
	margin-right: auto;
	display: inline-block;
}

.guest{
	margin-top: .5em;
	margin-left: 3%;
	margin-right: auto;
	height: .75em;
	width: .75em;
	border: .1em solid black;
	display: inline-block;
	border-radius: .25em;
}

.guestC{
	background-color: black;
}

.guestUC{
	background-color: white;
}

#guestP{
	display: inline-block;
	margin-left: 3%;
	border: none;
	color: orange;
}

#guestP2{
	display: inline-block;
	margin-left: 3%;
	border: none;
	color: orange;
}

#funFlagP {
	display:inline-block;
	font-weight: bold;
	margin-left: 3%;
}

#funFlagP2 {
	display:inline-block;
	margin-left: 3%;
}

#jff {
	margin-left: 25%;
}

#funFlagMessage {
	color: red;
}





/*THIS IS THE END OF THE PLAY LOOP
/* ***********TODO:
THIS IS THE BREAK FOR THE NEXT BATCH, CLEANING UP CSS NOW
*/

#bigBubble {
	width: 60%;
	height: 5em;
	margin-left: 20%;
	border: .1em solid black;
	border-radius: 1em;
}


/*THIS IS FOR THE PROFILE PAGE
TODO: CREATE PROFILE PAGE CSS
THIS IS FOR THE PROFILE PAGE*/

#goBack {
	background-size: 100%;
	background-image: url(./Resources/next.ico);
	left: 0;
	cursor: pointer;
}

#editButton{
	margin-right: 0;
	right: 0;
	background-size: 100%;
	background-image: url(./Resources/editAqua.svg);
	cursor: pointer;
}

#bigBorder {
	margin-left: 10%;
	width:80%;
	border: .1em solid black;
	border-radius: .5em;
	margin-right: auto;
	margin-top: 2em;

}

.inputLabel{
	margin-left: 1em;
	margin-right: auto;
	display: inline-block;
	width: 10em;
}

.inputSize{
	margin-left: 1em;
	margin-right: auto;
	display: inline-block;
	width: 10em;
}

.pwHidden{
	display:none;
}

#genderT2{
	width: 50%;
	margin-left: 35%;
	margin-right: auto;
}

#pwChange{
	margin-left: 35%;
	width: 40%;
}

.readyChange{
	box-shadow: 0 0 .1em .1em orange;
}

.required{
	border: .07em solid red;
	border-radius: .5em;
}

.genderB{
	font-weight: bold;
}